// app global css in SCSS form
@import 'node_modules/nord/src/sass/nord.scss';

// Body
body.body--light {
  background: $nord4;
  color: $nord0;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}
body.body--dark {
  background: $nord0;
  color: $nord6;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

// Colors
.body--light .text-input-primary {
  color: $nord10;
  transition: color 0.2s ease-in-out;
}
.body--dark .text-input-primary {
  color: $nord8;
  transition: color 0.2s ease-in-out;
}
.body--light .bg-input-primary {
  background: $nord10;
  transition: background 0.2s ease-in-out;
}
.body--dark .bg-input-primary {
  background: $nord8;
  transition: background 0.2s ease-in-out;
}

// Text Prominence
.body--light .text-prominence-1 {
  color: $nord1;
}
.body--dark .text-prominence-1 {
  color: $nord6;
}

.body--light .text-prominence-2 {
  color: $nord2;
}
.body--dark .text-prominence-2 {
  color: $nord5;
}

.body--light .text-prominence-3 {
  color: $nord3;
}
.body--dark .text-prominence-3 {
  color: $nord4;
}

// Background Prominence
.body--light .prominence-0 {
  background: $nord4;
}
.body--dark .prominence-0 {
  background: $nord0;
}
.body--light .prominence-1 {
  background: $nord4;
}
.body--dark .prominence-1 {
  background: $nord1;
}
.body--light .bg-prominence-1 {
  background: $nord4;
}
.body--dark .bg-prominence-1 {
  background: $nord1;
}

.body--light .prominence-2 {
  background: $nord5;
}
.body--dark .prominence-2 {
  background: $nord2;
}
.body--light .bg-prominence-2 {
  background: $nord5;
}
.body--dark .bg-prominence-2 {
  background: $nord2;
}

.body--light .prominence-3 {
  background: $nord6;
}
.body--dark .prominence-3 {
  background: $nord3;
}
.body--light .bg-prominence-3 {
  background: $nord6;
}
.body--dark .bg-prominence-3 {
  background: $nord3;
}

.body--light .gradient-prominence-1 {
  // background: linear-gradient(20deg, $nord8, $nord4);
  background: linear-gradient(4deg, $nord6 0%, $nord4 45%, $nord9 100%);
  color: $nord6;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}
.body--dark .gradient-prominence-1 {
  // background: linear-gradient(20deg, $nord8, $nord2);
  background: linear-gradient(4deg, $nord1 0%, $nord3 45%, $nord9 100%);
  color: $nord1;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

// Top Bar
.body--light .top-bar {
  background: $nord5;
  transition: background 0.1s ease-in-out, color 0.2s ease-in-out;
}
.body--dark .top-bar {
  background: $nord1;
  transition: background 0.1s ease-in-out, color 0.2s ease-in-out;
}

// Borders
.rounded-borders-10 {
  border-radius: 10px !important;
}
.rounded-borders-20 {
  border-radius: 20px !important;
}
.rounded-borders-30 {
  border-radius: 30px !important;
}

// Navigation
.body--light .active-link {
  color: $nord6;
  background: $nord10;
  transition: background 0.1s ease-in-out, color 0.2s ease-in-out;
}
.body--dark .active-link {
  color: $nord1;
  background: $nord8;
  transition: background 0.1s ease-in-out, color 0.2s ease-in-out;
}

// Policies
.policy-title {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: normal;
  margin-bottom: 0.5rem;
}
.policy-header {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.0125em;
  margin-bottom: 0.5rem;
}
.policy-paragraph {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.01786em;
  margin-bottom: 0.5rem;
}

// Showcase
.showcase-screenshot {
  width: 72%;
  max-width: 400px;
}
.showcase-screenshot-wide {
  width: 90vw;
  max-width: 500px;
}
